/* Back To Top Button */
.back-to-top {
	font-family: $sansSerif;
	font-size: 1rem;
	display: none;
	padding: 0.75em;
	color: #000;
	cursor: pointer;
	position: fixed;
	background: none;
	bottom: 2em;
	right: 2.5vw;
	text-align: center;
	padding: 0.7em 0.75em;
	border: solid 1px #000;
	transition: all 0.15s;
}

.back-to-top:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #000;
  transition: all 0.3s ease;
}
.back-to-top:hover {
  color: #fff;
}
.back-to-top:hover:after {
  top: 0;
  height: 100%;
}
.back-to-top:active {top: 2px;}


.filter-btn {
	font-size: 0.875rem;
	font-family: inherit;
	position: relative;
	font-weight: 600;
	z-index: 400;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	align-items: center;
	padding: 0.5em 0.875em 0.5em 1em;
	background: #eee;
	border: solid 1px #000;
	color: #000;
	transition: all 0.15s;
	cursor: pointer;
	margin-bottom: 0.5em;
}

.filter-btn:hover {
	background: #000;
	color: #fff;
	border: solid 1px #000;
}

.icon-filter {
	padding-left: 0.5em;
}