/* Back To Top Button */

.btn {
	color: #fff;
	transition: all 0.15s;
	cursor: pointer;
	font-family: inherit;
	position: relative;
	font-weight: 600;
	font-size: 0.75rem;
	z-index: 400;
	display: block;
	align-items: center;
	padding: 0.5em 0.875em 0.5em 1em;	
	border: solid 1px $text_grey_dark;	
	background: $text_grey_dark;	
	margin: 0.5em 0.25em;
	width: 10em;
	text-transform: uppercase;
	letter-spacing: 0.08em;	
	i {
	padding-left: 1em;
}
}

.btn:active {
	outline: 0;
}

.btn:hover {
	background: $background_grey;
	color: $text_grey_dark;
	border: solid 1px $text_grey_dark;
}

.back-to-top {
	font-family: $sansSerif;
	display: none;
	padding: 0.75em;
	color: #fff;
	cursor: pointer;
	position: fixed;
	border: solid 1px $text_grey_dark;	
	font-size: 0.875rem;
	background: $text_grey_dark;	
	margin: 1px;
	bottom: 2em;
	right: 2.5vw;
	text-align: center;
	padding: 0.7em 0.75em;
	transition: all 0.15s;
}

.back-to-top:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: $background_grey;
  transition: all 0.3s ease;
}
.back-to-top:hover {
  color: $text_grey_dark;
}
.back-to-top:hover:after {
  top: 0;
  height: 100%;
}
.back-to-top:active {transform: translateY(4px);
}


.filter-btn {
}

.modal__close-btn {
	position: absolute;
	right: 2.5em;
	top: 2.5em;
	font-size: 1rem;
	background: none;
	border: 0;
	overflow: hidden;
	cursor: pointer;
	z-index: 20;
}

.fa-times:before {
	content: '\00d7' !important;
}

