/* Back To Top Button */

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  align-items: center;
  color: $text_grey_dark;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  cursor: pointer;
  font-family: inherit;
  position: relative;
  font-weight: 600;
  font-size: 0.75rem;
  padding: 0.75em;
  border: solid 1px $nearBlack;
  z-index: 200;
  line-height: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: transparent;
  margin: 0.5em 0.5em;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  span {
    margin-right: 0.25em;
  }
  i {
    margin-left: 0.25em;
    color: $nearBlack;
  }
}

.btn:active {
  outline: 0;
}

.btn:hover {
  background: none;
  .btn:hover i,
  .btn:hover .fa {
    color: #fff;
  }
}

.mouse-user > .btn::focus,
.mouse-user > .btn:focus,
.mouse-user > .btn::focus {
  outline: 0 !important;
}

.back-to-top {
  font-family: $sansSerif;
  font-weight: bold;
  display: none;
  padding: 0.875em;
  color: $text_grey_dark;
  cursor: pointer;
  position: fixed;
  border: solid 1px $text_grey_dark;
  font-size: 0.875rem;
  margin: 1px;
  bottom: 2em;
  right: calc(3.2vw - 1rem);
  text-align: center;
  padding: 1em 0.5em;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  line-height: 1;
  svg {
    position: relative;
    top: 0;
    left: 0;
    height: 1rem;
  }
}

.back-to-top:hover {
  color: #fff;
  fill: #fff;
  background: $text_grey_dark;
  border: solid 1px $text_grey_dark;
}

.back-to-top:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

.modal__close-btn {
  position: absolute;
  right: 2em;
  top: 2.25em;
  font-size: 1rem;
  background: none;
  border: 0;
  overflow: hidden;
  cursor: pointer;
  z-index: 20;
}

.modal__close-btn:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.fa-times:before {
  content: '\00d7' !important;
}

.header .btn {
  min-width: 8em;
}

.sticky-header {
  .btn i {
    color: #fff;
  }
  .btn:hover i {
    color: $nearBlack;
  }
}
