/* Content */

.reddit-content {
	max-width: 82vw;
	margin: 40px ;
	margin-left: calc(13vw + 20px);
	column-count: 4;
	column-gap: 40px;
	flex: 0 1  1600px;
}

/* Cards */

.reddit-card {
	margin: 30px 0;
	width: 100%;
	background: white;
	break-inside: avoid;
	overflow: hidden;
	position: relative;
	overflow-wrap: break-word;
}

.reddit-card__subreddit {
	font-family: 'open sans';
	text-transform: uppercase;
	font-size: 0.875rem;
	padding: 1em 1em 0.5em 1em;

}

.reddit-card__post-title {
	padding: 0.7em;
	width: 100%;
	transition: all 0.2s;
	a {
	font-family: 'Tiempos Headline', sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	color: black;
	text-decoration: none;
	line-height: 1.25;
	max-width: 100%;
}
	&:hover {
	margin-left: 0.5em;
	box-decoration-break: clone;
	}
}

.reddit-card__thumbnail-wrapper {
	position: relative;
	margin: auto;
	text-align: center;
	max-width: 100%;
transition: all 0.2s;
}

.reddit-card__thumbnail-wrapper:hover {
		filter: grayscale();
	}

.reddit-card__thumbnail {
	width: 100%;
	margin-bottom: -4px;
	transition: all 0.2s;	
}

.card-footer {
	display: flex;
	justify-content: space-between;
	color: gray;
	font-size: 0.75rem;
	text-transform: uppercase;
	max-width: 100%;
}

.post-comments {
		font-family: 'open sans';
	
	font-weight: 600;
	padding: 1em;
	a{
	color: gray;
	text-decoration: none;
	transition: color 0.2s;
	&:hover {
		color: black;
	}
}
}

.timestamp {
		font-family: 'open sans';
	font-weight: 600;
	padding: 1em;
	}

.css {
	color:  #FC1902;
}

.webdev {
	color: #4941F7;
}

.web_design {
	color: #07FEFA;
}

.jquery {
	color: #FECD47;
}

.javascript {
	color: #00ff36;
}

.Frontend {
	color: #0021a5;
}

.WebdevTutorials {
	color: #fc00c1;
}