/* ---------------------------
 # Reddit Content Section
------------------------------ */

.reddit-content {
    position: relative;
    top: 160px;
    margin: auto;
    width: 85vw;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    padding-bottom: 12em;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    &::before {
        content: "That's all, folks!";
        font-family: $serif;
        font-size: 1rem;
        position: absolute;
        bottom: 6rem;
        font-weight: bold;
        width: 100%;
        text-align: center;
    }
    &::after {
        content: '';
        width: 100%;
        position: fixed;
        height: 40px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(236, 238, 241, 0.001)), to(white));
        background: linear-gradient(rgba(236, 238, 241, 0.001), white);
        pointer-events: none;
        bottom: 0;
    }
}

.content__info-bar {
    padding: 2em 0 0.25em 0;
}

.card-container {
    -webkit-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 2.5em;
    column-gap: 2.5em;
    border-top: solid 1px $text_grey_mid_two;
    padding-top: 1.25em;
    padding-bottom: 1em;
    width: 100%;
}


/* ---------------------------
 # Row view styles
------------------------------ */

.card-container--rows {
    -webkit-column-count: 1 !important;
    column-count: 1 !important;
}

.card-container--rows .reddit-card {
    padding: 0.5em 1em;
}

.card-container--rows .reddit-card-inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.card-container--rows .reddit-card__post-title {
    width: 50%;
    padding: 1em 2em;
    border-right: solid 1px $text_grey_mid_two;
    a {
        font-size: 1.25rem;
    }
}

.card-container--rows .reddit-card__subreddit {
    height: 0%;
    font-size: 0.875rem;
    margin: auto 0;
}

.card-container--rows .subreddit-wrapper {
    width: 20%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1em 4em 1em 1em;
    border-right: solid 1px $text_grey_mid_two;
}

.card-container--rows .reddit-card-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.card-container--rows .card-footer {
    font-size: 1rem;
    width: 30%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-left: 2em;
    height: 100%;
}


/* ---------------------------
 # Cards
------------------------------ */

.reddit-card {
    margin: 0 0 1.25em 0;
    width: 100%;
    background: white;
    break-inside: avoid;
    overflow: hidden;
    position: relative;
    top: 0;
    overflow-wrap: break-word;
    padding: 1em 0.75em;
    -webkit-transform: translateY(200px) scale(0.9);
    transform: translateY(200px) scale(0.9);
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out 0s, -webkit-transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    transition: opacity 1s ease-in-out 0s, -webkit-transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    transition: transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, opacity 1s ease-in-out 0s;
    transition: transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, opacity 1s ease-in-out 0s, -webkit-transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
}

.reddit-card.animate {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    opacity: 1;
}

.reddit-card-inner {
    position: relative;
    background: #fff !important;
}

.reddit-card::before {
    content: '';
    display: block;
    height: 0px;
    width: 100%;
    position: relative;
    top: -0.5em;
    background: $nearBlack;
}

.reddit-card__subreddit {
    font-family: $sansSerif;
    padding: 0.25em 0.5em;
    margin-left: 0em;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.75rem;
    color: #fff;
}

.reddit-card__post-title {
    padding: 1.5em 0;
    width: 100%;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
    background: #fff;
    text-align: left;
    a {
        font-family: 'Tiempos Headline', georgia, serif;
        font-size: 1.25rem;
        font-weight: 700;
        color: $text_grey_dark;
        text-decoration: none;
        line-height: 1.3;
        max-width: 100%;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        -webkit-transition: all 0.15s;
        transition: all 0.15s;
    }
    a:hover {
        color: #000 !important;
        border-bottom: solid 1px #000;
    }
}

.reddit-card__thumbnail-wrapper {
    position: relative;
    text-align: center;
    max-width: 100%;
    line-height: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    overflow: hidden !important;
}

.reddit-card__thumbnail-wrapper:hover::after {
    -webkit-filter: screen;
    filter: screen;
}

.reddit-card__thumbnail-wrapper:hover {
    -webkit-filter: grayscale();
    filter: grayscale();
}

.reddit-card__thumbnail {
    width: 100%;
    margin-bottom: -4px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.card-footer {
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 0.75rem;
    letter-spacing: 0.02em;
    max-width: 100%;
    color: $text_grey_mid_two;
    background: #fff;
}

.bar {
    font-size: 0.875em;
}

.short-url {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    text-align: center;
    padding: 0 0.75em 0 0;
}

.post-comments {
    font-family: $sansSerif;
    display: block;
    text-align: left;
    white-space: nowrap;
    padding: 0 0.75em;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
    a {
        -webkit-transition: all 0.15s;
        transition: all 0.15s;
        cursor: pointer;
    }
    a:hover {
        color: $nearBlack !important;
        padding-bottom: 0.125em;
        border-bottom: solid 1px;
        -webkit-transition: all 0.1s;
        transition: all 0.1s;
    }
}

.timestamp {
    display: block;
    font-family: $sansSerif;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    text-align: left;
    padding: 0 0.75em;
}

.content-end-mark {
    display: none;
    position: absolute;
    bottom: 4.5em;
    left: calc(50% - 16px);
    padding: 1em 0;
    width: 32px;
    text-align: center;
}


/*-------------------------------
* r/css
-------------------------------*/

.reddit-card-css {
    border-bottom: solid 0px $subreddit_colour_one;
    color: $subreddit_colour_one;
}

.reddit-card-css .reddit-card-inner {
    background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_one, $subreddit_colour_one 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, $subreddit_colour_one, $subreddit_colour_one 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
}

.subreddit-css {
    background: $subreddit_colour_one;
    text-align: center;
    position: relative;
    z-index: 500;
}

.dotted-bg-css {
    color: $subreddit_colour_one;
    background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_one, $subreddit_colour_one 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, $subreddit_colour_one, $subreddit_colour_one 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
}

.css-overlay {
    &::before {
        content: '';
        display: block;
        opacity: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $subreddit_colour_one;
        mix-blend-mode: screen;
        -webkit-transition: opacity 0.15s;
        transition: opacity 0.15s;
    }
    &::after {
        content: '';
        display: block;
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $subreddit_colour_one;
        -webkit-transition: opacity 0.15s;
        transition: opacity 0.15s;
    }
}


/*-------------------------------
* r/webdev
-------------------------------*/

.reddit-card-webdev {
    border-bottom: solid 0px $subreddit_colour_two;
    color: $subreddit_colour_two;
}

.reddit-card-webdev .reddit-card-inner {
    background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_two, $subreddit_colour_two 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, $subreddit_colour_two, $subreddit_colour_two 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
}

.subreddit-webdev {
    background: $subreddit_colour_two;
    text-align: center;
    position: relative;
    z-index: 500;
}

.dotted-bg-webdev {
    color: $subreddit_colour_two;
    background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_two, $subreddit_colour_two 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, $subreddit_colour_two, $subreddit_colour_two 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
}

.webdev-overlay {
    &::before {
        content: '';
        display: block;
        opacity: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $subreddit_colour_two;
        mix-blend-mode: screen;
        -webkit-transition: opacity 0.15s;
        transition: opacity 0.15s;
    }
    &::after {
        content: '';
        display: block;
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $subreddit_colour_two;
        -webkit-transition: opacity 0.15s;
        transition: opacity 0.15s;
    }
}


/*-------------------------------
* r/web_design
-------------------------------*/

.reddit-card-web_design {
    border-bottom: solid 0px $subreddit_colour_three;
    color: $subreddit_colour_three;
}

.reddit-card-web_design .reddit-card-inner {
    background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_three, $subreddit_colour_three 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, $subreddit_colour_three, $subreddit_colour_three 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
}

.subreddit-web_design {
    background: $subreddit_colour_three;
    text-align: center;
    position: relative;
    z-index: 500;
}

.dotted-bg-web_design {
    color: $subreddit_colour_three;
    background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_three, $subreddit_colour_three 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, $subreddit_colour_three, $subreddit_colour_three 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
}

.web_design-overlay {
    &::before {
        content: '';
        display: block;
        opacity: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $subreddit_colour_three;
        mix-blend-mode: screen;
        -webkit-transition: opacity 0.15s;
        transition: opacity 0.15s;
    }
    &::after {
        content: '';
        display: block;
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $subreddit_colour_three;
        -webkit-transition: opacity 0.15s;
        transition: opacity 0.15s;
    }
}


/*-------------------------------
* r/jquery
-------------------------------*/

.reddit-card-jquery {
    border-bottom: solid 0px $subreddit_colour_four;
    color: $subreddit_colour_four;
}

.reddit-card-jquery .reddit-card-inner {
    background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_four, $subreddit_colour_four 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, $subreddit_colour_four, $subreddit_colour_four 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
}

.subreddit-jquery {
    background: $subreddit_colour_four;
    text-align: center;
    position: relative;
    z-index: 500;
}

.dotted-bg-jquery {
    color: $subreddit_colour_four;
    background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_four, $subreddit_colour_four 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, $subreddit_colour_four, $subreddit_colour_four 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
}

.jquery-overlay {
    &::before {
        content: '';
        display: block;
        opacity: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $subreddit_colour_four;
        mix-blend-mode: screen;
        -webkit-transition: opacity 0.15s;
        transition: opacity 0.15s;
    }
    &::after {
        content: '';
        display: block;
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $subreddit_colour_four;
        -webkit-transition: opacity 0.15s;
        transition: opacity 0.15s;
    }
}


/*-------------------------------
* r/javascript
-------------------------------*/

.reddit-card-javascript {
    border-bottom: solid 0px $subreddit_colour_five;
    color: $subreddit_colour_five;
}

.reddit-card-javascript .reddit-card-inner {
    background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_five, $subreddit_colour_five 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, $subreddit_colour_five, $subreddit_colour_five 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
}

.subreddit-javascript {
    background: $subreddit_colour_five;
    text-align: center;
    position: relative;
    z-index: 500;
}

.dotted-bg-javascript {
    color: $subreddit_colour_five;
    background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_five, $subreddit_colour_five 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, $subreddit_colour_five, $subreddit_colour_five 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
}

.javascript-overlay {
    &::before {
        content: '';
        display: block;
        opacity: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $subreddit_colour_five;
        mix-blend-mode: screen;
        -webkit-transition: opacity 0.15s;
        transition: opacity 0.15s;
    }
    &::after {
        content: '';
        display: block;
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $subreddit_colour_five;
        -webkit-transition: opacity 0.15s;
        transition: opacity 0.15s;
    }
}


/*-------------------------------
* r/frontend
-------------------------------*/

.reddit-card-frontend {
    border-bottom: solid 0px $subreddit_colour_six;
    color: $subreddit_colour_six;
}

.reddit-card-frontend .reddit-card-inner {
    background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_six, $subreddit_colour_six 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, $subreddit_colour_six, $subreddit_colour_six 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
}

.subreddit-frontend {
    background: $subreddit_colour_six;
    text-align: center;
    position: relative;
    z-index: 500;
}

.dotted-bg-frontend {
    color: $subreddit_colour_six;
    background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_six, $subreddit_colour_six 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, $subreddit_colour_six, $subreddit_colour_six 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
}

.frontend-overlay {
    &::before {
        content: '';
        display: block;
        opacity: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $subreddit_colour_six;
        mix-blend-mode: screen;
        -webkit-transition: opacity 0.15s;
        transition: opacity 0.15s;
    }
    &::after {
        content: '';
        display: block;
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $subreddit_colour_six;
        -webkit-transition: opacity 0.15s;
        transition: opacity 0.15s;
    }
}


/*-------------------------------
* r/webdevtutorials
-------------------------------*/

.reddit-card-webdevtutorials {
    border-bottom: solid 0px $subreddit_colour_seven;
    color: $subreddit_colour_seven;
}

.reddit-card-webdevtutorials .reddit-card-inner {
    background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_seven, $subreddit_colour_seven 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, $subreddit_colour_seven, $subreddit_colour_seven 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
}

.subreddit-webdevtutorials {
    background: $subreddit_colour_seven;
    position: relative;
    z-index: 500;
}

.dotted-bg-webdevtutorials {
    color: $subreddit_colour_seven;
    background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_seven, $subreddit_colour_seven 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, $subreddit_colour_seven, $subreddit_colour_seven 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
}

.webdevtutorials-overlay {
    &::before {
        content: '';
        display: block;
        opacity: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $subreddit_colour_seven;
        mix-blend-mode: screen;
        -webkit-transition: opacity 0.15s;
        transition: opacity 0.15s;
    }
    &::after {
        content: '';
        display: block;
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $subreddit_colour_seven;
        -webkit-transition: opacity 0.15s;
        transition: opacity 0.15s;
    }
}


/*-------------------------------
* r/reactjs
-------------------------------*/

.reddit-card-reactjs {
    border-bottom: solid 0px $subreddit_colour_eight;
    color: $subreddit_colour_eight;
}

.reddit-card-reactjs .reddit-card-inner {
    background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_eight, $subreddit_colour_eight 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, $subreddit_colour_eight, $subreddit_colour_eight 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
}

.subreddit-reactjs {
    background: $subreddit_colour_eight;
    position: relative;
    z-index: 500;
}

.dotted-bg-reactjs {
    color: $subreddit_colour_eight;
    background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_eight, $subreddit_colour_eight 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, $subreddit_colour_eight, $subreddit_colour_eight 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
}

.reactjs-overlay {
    &::before {
        content: '';
        display: block;
        opacity: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $subreddit_colour_eight;
        mix-blend-mode: screen;
        -webkit-transition: opacity 0.15s;
        transition: opacity 0.15s;
    }
    &::after {
        content: '';
        display: block;
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $subreddit_colour_eight;
        -webkit-transition: opacity 0.15s;
        transition: opacity 0.15s;
    }
}