/* Reset */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Fonts */

@font-face {
  font-family: 'Tiempos Headline';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/Tiempos-Headline-Medium.ttf') format('truetype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/Tiempos-Headline-Medium.woff') format('woff') /* Pretty Modern Browsers */
}

html{
	background: #eee;
}

body {
	display: flex;
	flex-wrap: wrap;

}

/* Left bar */

.left-bar {
	position: static;
	width: 10%;
	display: inline-block;
	margin: 50px 0px 0px 0px;
	padding: 20px 0;
	text-align: right;
	h1 {
	letter-spacing: -1px;
	font-family: 'Tiempos Headline';
	font-size: 2.5rem;
	padding-bottom: 0.25em;
	flex: 0 0 400px;
}
}

.left-bar__line {
	width: 40%;
	height: 2px;
	background: black;
	position: relative;
	margin-left: 60%;
}

.description {
	font-size: 1rem;
	padding-top: 1em;
	text-align: right;
	width: 100%;
	padding-left: 40%;
	background: #eee;
	position: relative;
	z-index: 15;
}

/* Filter list */

.filters {
	
	font-family: 'open sans';
}

.filters__top-bar {
	padding-top: 100px;
	display: flex;
	justify-content: flex-end;
	padding-bottom: 0.5em;
	z-index: 10;
	position: relative;
	background: #eee;
	box-shadow: 0 2px 10px 2px #eee;

}

.filters__title {
	line-height: 2.5;
	font-size: 1rem;
	text-transform: uppercase;
}

.expand {
	display: inline-block;
	margin-left: 30px;
	font-size: 1.75em;
	font-weight: bold;
	transform: rotate(0deg);
	transition: transform 0.5s;
	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}

.expand--opened {
	transform: rotate(-90deg) !important;
	transition: transform 0.5s;
	margin-top: 30px;
	margin-top: 0;
	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}

.expand:hover, .expand--opened:hover {
	cursor: pointer;
}

.filters__list {
	padding-top: 1em;
	position: relative;
	z-index: 5;
	transform: translateY(-200px);
	transition: transform 0.5s;
	li {
		display: block;
		padding: 0.25em 0;
	}
}

.filters__list--opened {
	transform: translateY(0px);	
	transition: transform 0.5s;
}

.checkbox {
	margin-left: 16px;
}


/* Content */

#reddit-content {
	width: 85%;
	margin: 40px auto;
	column-count: 4;
	column-gap: 40px;
	flex: 0 1 1600px;
}

/* Cards */

.reddit-card {
	margin: 30px 0;
	width: 100%;
	background: white;
	break-inside: avoid;
	overflow: auto;
}

.post-type--reddit {
	font-family: 'open sans';
	text-transform: uppercase;
	font-size: 0.875rem;
	padding: 1em 1em 0.5em 1em;

}

.post-title {
	padding: 1em;
	width: 100%;
	a {
	font-family: 'Tiempos Headline', sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	color: black;
	text-decoration: none;
	line-height: 1.25;
}
}

.post-thumb-wrapper {
	margin: auto;
	text-align: center;
	max-width: 100%;
}

.post-thumb {
	width: 100%;

}

.bottom-info-wrapper {
	display: flex;
	justify-content: space-between;
	color: gray;
	font-size: 0.75rem;
	text-transform: uppercase;
}

.post-comm-num {
		font-family: 'open sans';
	
	font-weight: 600;
	padding: 1em;
	a{
	color: gray;
	text-decoration: none;
	
}
}

.timestamp {
		font-family: 'open sans';
	font-weight: 600;
	padding: 1em;
	}

.css {
	color:  #FC1902;
}

.webdev {
	color: #4941F7;
}

.web_design {
	color: #07FEFA;
}

.jquery {
	color: #FECD47;
}

.javascript {
	color: lime;
}

.Frontend {
	color: #e67e22;
}

/* Loading animation */

#loading {
	position: absolute;
	left: 45vw;
	top: 40vh;
	font-size: 3rem;
}