* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
	background: #eee;
}

#reddit-content {
	width: 90%;
	margin: 40px auto;
	column-count: 5;
	column-gap: 20px;
}

.reddit-card {
	margin: 20px 0;
	width: 100%;
	background: white;
	break-inside: avoid;
	overflow: auto;
	padding: 0;
}

.post-type--reddit {
	font-family: 'open sans';
	text-transform: uppercase;
	font-size: 0.875rem;
	padding: 1em 1em 0.5em 1em;

}

.post-title {
	padding: 1em 1em 2em 1em;
	width: 100%;
	a {
	font-family: 'crimson text', sans-serif;
	font-size: 1.5rem;
	letter-spacing: -1px;
	font-weight: 700;
	color: black;
	text-decoration: none;
	line-height: 1.125;
}
}

.post-thumb-wrapper {
	margin: auto;
	text-align: center;
	width: 100%;
}

.post-comm-num {
		font-family: 'open sans';
	font-size: 0.875rem;
	font-weight: 600;
	padding: 1em;
	a{

	text-decoration: none;
	color: gray;
}
}

.css {
	color:  #FC1902;
}

.webdev {
	color: #4941F7;
}

.web_design {
	color: #07FEFA;
}

.jquery {
	color: #FECD47;
}

.javascript {
	color: lime;
}