/* Animations */

@-webkit-keyframes moveUp {
	0% { opacity: 0; }
	20% { opacity: 0; }
	70% { -webkit-transform: translateY(0); }	
	100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	0% { opacity: 0;}
	20% { opacity: 0; }
	70% { -webkit-transform: translateY(0); }		
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}


@-webkit-keyframes moveUp-no-ease {
	0% { opacity: 0; }
	100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp-no-ease {
	0% { opacity: 0;}	
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}


/* Sticky header slides down */

@-webkit-keyframes slideDown {
	0% { top: -80px; }
	100% { top: 0px; }
}

@keyframes slideDown {
	0% { top: -80px; }	
	100% { top: 0px; }
}


.shift-down {
	transform: translateY(150px);
}