/* Typography */

$sansSerif: 'Open Sans', helvetica, arial, sans-serif;
$serif: 'Tiempos Headline', georgia, serif;

/* Colours */

$highlightColourOne: #fdf522;
$background_grey: #ececec;
$text_grey_dark: #302F2F;
$text_grey_mid_one: rgb(141, 148, 149);
$text_grey_mid_two: #ccc;

$subreddit_colour_one: #ba0c2f;
$subreddit_colour_two: #00D9FF;
$subreddit_colour_three: #FD5F00;
$subreddit_colour_four: #1CF909;
$subreddit_colour_five: #ff4f81;
$subreddit_colour_six: #dbc65d;
$subreddit_colour_seven: #2b00f7;