/* Typography */

$sansSerif: 'Montserrat', helvetica, arial, sans-serif;
$serif: 'Tiempos Headline', georgia, serif;

/* Colours */

$highlightColourOne: #fdf522;

$subreddit_colour_one: #00c4ff;
$subreddit_colour_two: #2dde98;
$subreddit_colour_three: #ff7200;
$subreddit_colour_four: #ff6c5f;
$subreddit_colour_five: #ff4f81;
$subreddit_colour_six: #522d80;
$subreddit_colour_seven: #0064d2;