/* Typography */

$sansSerif: 'cousine',
helvetica,
arial,
sans-serif;
$serif: 'Tiempos Headline',
georgia,
serif;

/* Colours */

$nearBlack: #24292e;
$highlightColourOne: #fdf522;
$background_grey: #eceef1;
$text_grey_dark: #302F2F;
$text_grey_mid_one: #c9c9c9;
$text_grey_mid_two: #ccc;
$subreddit_colour_one: #CAD3C8;
$subreddit_colour_two: #3B3B98;
$subreddit_colour_three: #EAB543;
$subreddit_colour_four: #FEA47F;
$subreddit_colour_five: #ff6b81;
$subreddit_colour_six: #55E6C1;
$subreddit_colour_seven: #D6A2E8;
$subreddit_colour_eight: #25CCF7;