
@import 'base/_variables';
@import 'base/_reset';
@import 'base/_animations';

@import 'modules/_header';
@import 'modules/_fonts';
@import 'modules/_filters';
@import 'modules/_reddit-content';
@import 'modules/_buttons';
@import 'modules/_loading-icon';
@import 'modules/_empty-message';

html {
	background: $background_grey;
	overflow-x: hidden;
	font-size: 100%;
	color: $text_grey_dark;
}

.no-scroll {

}

body {
	font-family: $sansSerif;
}



::-moz-selection {
	background-color: $text_grey_dark;
	color: #fff;
	background-size: 50% 50%;
}

::selection {
	background-color: $text_grey_dark;
	color: #fff;
	background-position: left bottom;
	background-size: 50% 50%;
}



.primary {
	width: 85%;
	margin-top: 4px;
	margin-bottom: 2em;
	transition: all ease 0.3s;
}

.info {
	position: fixed;
	left: 1vw;
	top: 50vh;
	font-size: 0.75rem;
	transform: rotate(-90deg);
	transform-origin: 0 0;
}

.info::before {
	content: '';
	display: block;
	height: 1px;
	width: 3rem;
	right: 4rem;
	bottom: -0.5rem;
	background: #000;
	position: relative;
}

@media (max-width:1440px) {
	.reddit-content {
		column-count: 3;
		column-gap: 1.5em;
	}

	.filters__title {
		font-size: 1.25rem;
	}


	.reddit-card {
		margin: 10px 0px;
	}

	.reddit-card__post-title a {
		font-size: 1.25rem;
	}

	.header__title {
		font-size: 3.5rem;
	}

	.post-comments, .short-url, .timestamp {
		padding: 0 0.25em;
	}

}

@media (max-width:1000px) {
	.reddit-content {
		column-count: 2;
		width: 85vw;
		column-gap: 1em;
	}



	.sidebar {
		width: 22vw;
	}

	.back-to-top {
		bottom: 1em;
		right: calc(7.5vw + 1em);
	}

	.back-to-top:hover {
		display: flex;
	}

}

@media (max-width:850px) {
	.reddit-content {
		column-count: 2;
		column-gap: 15px;
		max-width: 100vw;
	}

	.filters {
		align-items: flex-start;
	}

	.filters__top-bar {
		border-bottom: 1px solid #d1d4d5;
		padding-top: 0.5em;
	}

	.filters__title {
		border: 0;
		padding-bottom: 0;
	}

	.filters__list--opened,
	.filters__list {
		display: block;
		position: static;
		padding: 0;
	}

	.header__title {
		margin: 0;
		padding: 0;
		display: flex;
		align-items: flex-end;
	}

	.sidebar {
		height: 160px;
		width: 100%;
		position: fixed;
		padding: 0 15px;
		top: 0;
		background: #eee;
	}

}

@media (max-width:700px) {
	.modal {
		height: auto;
		padding: 1.5em 2.5em;
	}

	.filters__list {

		text-align: left;
		margin-top: 0.5em;
	}

	.filters {
		flex-direction: column;
		align-items: flex-start;
	}

	.filters__list-item {
		margin: 1em 0.25em;
	}

	.header__title-wrapper {
		margin-right: 0;
	}

	.reddit-content {
		width: 90vw;
	}

	.shift-down {
		transform: translateY(0);
	}

	.header__description {
		font-size: 0.875rem;
	}

	.header {
		height: 75px;
	}

	.info {
		transform: rotate(0deg);
		bottom: 1em;
		top: auto;
		position: relative;
	}

	.reddit-content {
		margin-top: 10px;
		top: 100px;
	}

	.header::after {
		width: 100%;
		height: 0.5em;
	}

	.back-to-top {
		right: calc(2.5vw + 1em);
	}

}

@media (max-width:500px) {
	body {
		display: block;
	}

	.nav-container {
		width: 95%;
		padding: 0;
	}

	.is-sticky .nav-container {
		width: 95%;
		padding: 0;
		align-items: center;
	}

	.header, .is-sticky {
		height: 15vw;
		min-height: 50px;
		padding: 0;
	}

	.header__btn-wrapper, .is-sticky .header__btn-wrapper {
		flex-direction: column;
		padding-bottom: 0.05em;
		display: none;
	}

	.btn {
		margin: 0.125em 0;
	}

	.header__description {
		display: none;
	}

	.header__title, .is-sticky .header__title {
		font-size: 10vw;
		padding: 0.25em 0 0 0;
		line-height: 1.5;
	}

	.modal {
		top: 8vh;
		right: 5vw;
		max-width: 85vw;
		padding: 1em 0.5em;
		max-height: 85vh;
	}

	.modal__close-btn {
		right: 0.5em;
		top: 0.5em;
	}

	.reddit-content {
		column-count: 1;
		column-gap: 15px;
		width: 95%;
		column-gap: 0px;
		top: 70px;
		margin-top: 5px;
	}

	.filters__list-item, .all-filter {
		font-size: 0.75rem;
		margin: 0.5em 0;
	}

	.reddit-card__post-title a {
		font-size: 1.25rem;
		order: 1;
	}

	.reddit-card__post-title:hover {
		margin-left: 0;
	}

	.reddit-card {
		margin: 0.5em 0;
	}

	a {
		order: 2;
	}

	.reddit-card__thumbnail-wrapper {
		display: none;
	}

	.btn {
		font-size: 0.675rem;
		padding: 0.5em 0.25em;
		width: 9em;
	}

	.view-btn {
		display: none;
	}

}

@media (max-width:425px) {
	.sidebar {
		min-height: 150px;
	}

	.header__description {
		width: 100%;
		padding: 0;
	}

	.filters__list {
		font-size: 0.875rem;
	}

	input[type=checkbox]:checked + span::after {
		right: 0.5em;
	}

}

@media (max-width:375px) {
}