@import 'base/_variables';
@import 'base/_reset';
@import 'base/_animations';
/*@import 'base/_mixins';*/

@import 'modules/_header';
@import 'modules/_fonts';
@import 'modules/_filters';
@import 'modules/_reddit-content';
@import 'modules/_buttons';
@import 'modules/_loading-icon';
@import 'modules/_error-message';
@import 'modules/_empty-message';
@import 'modules/_search';
html {
    background: $background_grey;
    overflow-x: hidden;
    font-size: 100%;
    color: $text_grey_dark;
}

.no-scroll {
    height: 100vh;
}

.no-wrap {
    white-space: nowrap;
}

body {
    font-family: $sansSerif;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
}

.mouse-user ::focus {
    outline: 0;
}

.mouse-user button:focus,
.mouse-user input:focus,
.mouse-user select:focus,
.mouse-user textarea:focus {
    outline: none;
}

::-moz-selection {
    background-color: $text_grey_dark;
    color: #fff;
    background-size: 50% 50%;
}

::selection {
    background-color: $text_grey_dark;
    color: #fff;
    background-position: left bottom;
    background-size: 50% 50%;
}

/* .container {
    display: grid;
    grid-template-rows: 140px 140px;
} */

.primary {
    width: 85%;
    margin-top: 4px;
    margin-bottom: 2em;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.info {
    position: fixed;
    left: 1vw;
    top: 50vh;
    font-size: 0.75rem;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
    border-bottom: 0;
}

a:hover {
    border-bottom: solid 1px $nearBlack;
}

.info::before {
    content: '';
    display: block;
    height: 1px;
    width: 3rem;
    right: 4rem;
    bottom: -0.8rem;
    background: #000;
    position: relative;
}

.loc-icon {
    height: 1rem;
}

@media (max-width: 1440px) {
    .card-container {
        -webkit-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.5em;
        column-gap: 1.5em;
    }
    .filters__title {
        font-size: 1.25rem;
    }
    .reddit-card {
        margin-bottom: 20px;
    }
    .reddit-card__post-title a {
        font-size: 1.25rem;
    }
    .header__title {
        font-size: 3.5rem;
    }
    .post-comments,
    .short-url,
    .timestamp {
        padding: 0 0.25em;
    }
    .card-container--rows .reddit-card__post-title {
        padding: 1em;
    }
    .card-container--rows .card-footer {
        font-size: 0.875rem;
    }
}

@media (max-width: 1000px) {
    .card-container {
        -webkit-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 1em;
        column-gap: 1em;
    }
    .header__description,
    .header__title-wrapper {
        margin-right: 0.5em;
    }
    .sidebar {
        width: 22vw;
    }
    .back-to-top {
        bottom: 1em;
        right: calc(7.5vw + 1em);
    }
    .back-to-top:hover {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .card-container--rows .reddit-card-inner {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .card-container--rows .reddit-card__post-title {
        padding: 0.5em 1em 0 1.5em;
        width: 60%;
        border-left: solid 1px $text_grey_mid_two;
    }
    .card-container--rows .reddit-card__post-title a {
        font-size: 1.25rem;
    }
    .card-container--rows .subreddit-wrapper {
        width: 10%;
        padding: 0.5em 2em 0.5em 0;
        border: 0;
    }
    .card-container--rows .reddit-card__subreddit {
        font-size: 0.75rem;
    }
    .card-container--rows .card-footer {
        font-size: 0.75rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 20%;
        padding: 0.25em;
    }
    .card-container--rows .post-comments,
    .card-container--rows .timestamp,
    .card-container--rows .short-url {
        padding: 0.25em;
    }
    .card-container--rows .bar {
        display: none;
    }
}

@media (max-width: 850px) {
    .card-container {
        -webkit-column-gap: 15px;
        column-gap: 15px;
    }
    .filters {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .filters__top-bar {
        border-bottom: 1px solid #d1d4d5;
        padding-top: 0.5em;
    }
    .filters__title {
        border: 0;
        padding-bottom: 0;
    }
    .filters__list--opened,
    .filters__list {
        display: block;
        position: static;
        padding: 0;
    }
    .header__title {
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    .header__title-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .header__description {
        margin: 0;
    }
    .card-container--rows .subreddit-wrapper {
        width: 100%;
    }
    .card-container--rows .card-footer {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 40%;
    }
    .card-container--rows .bar {
        display: block;
    }
    .card-container--rows .reddit-card__post-title {
        width: 60%;
        border-left: 0;
        padding-left: 0;
        padding-right: 1em;
        a {
            font-size: 1.125rem;
        }
    }
}

@media (max-width: 700px) {
    .modal {
        height: auto;
        padding: 1.5em 2.5em;
    }
    .filters__list {
        text-align: left;
        margin-top: 1.5em;
    }
    .filters {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .filters__list-item {
        margin: 1em 0.25em;
    }
    .header__title {
        font-size: 2.5rem;
    }
    .header__title-wrapper {
        margin-right: 0;
    }
    .reddit-content {
        top: 80px;
        width: 90%;
    }
    .nav-container {
        width: 90%;
    }
    .content__info-bar {
        padding: 0;
    }
    .header__description {
        display: none;
    }
    .info {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        bottom: 1em;
        left: 0;
        top: auto;
        position: relative;
    }
    .card-container {
        margin-top: 10px;
    }
    .header::after {
        width: 100%;
        height: 0.5em;
    }
    .back-to-top {
        right: calc(2.5vw + 1em);
    }
    .view-btn,
    .search-btn,
    .filter-btn {
        min-width: 7em;
        padding: 0.75em 0.25em;
        margin: 0.25em;
        white-space: nowrap;
    }
    .header button.search-btn {
        margin-left: 0;
    }
    .header button.filter-btn {
        margin-right: 0;
    }
    .card-container--rows .card-footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 20%;
    }
    .card-container--rows .bar {
        display: none;
    }
    .card-container--rows .reddit-card__post-title {
        width: 75%;
        border-left: 0;
        padding-left: 0;
        padding-right: 1em;
        a {
            font-size: 1.125rem;
        }
    }
    .header__btn-wrapper {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .header__btn-wrapper .btn {
        min-width: 7em;
    }
}

@media (max-width: 500px) {
    body {
        display: block;
    }
    .nav-container {
        width: 95%;
        padding: 0;
    }
    .nav-container,
    .is-sticky .nav-container {
        width: 95%;
        padding: 0;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .header,
    .is-sticky {
        height: 15vw;
        min-height: 50px;
        padding: 0;
    }
    .reddit-content {
        top: 60px;
        padding-bottom: 4em;
        width: 95%;
    }
    .content-end-mark {
        bottom: 1e90%m;
    }
    .header__btn-wrapper,
    .is-sticky .header__btn-wrapper {
        padding-bottom: 0.05em;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .search-wrapper {
        height: 55px;
        top: 65px;
        padding: 0 2.5vw;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .search--opened {
        width: 85%;
        position: relative;
    }
    .search {
        height: 2em;
        font-size: 0.875rem;
    }
    .search__close-btn {
        width: 10%;
        font-size: 0.875rem;
    }
    .clear-search {
        margin-top: 1em;
    }
    .header__title-wrapper {
        width: 70%;
    }
    .btn {
        margin: 0;
    }
    .btn:hover,
    .btn:hover i,
    .btn:hover .fa {
        color: #000;
    }
    .header__description {
        display: none;
    }
    .header__title,
    .is-sticky .header__title {
        font-size: 8vw;
        margin-right: 1vw;
        padding: 0;
        line-height: 1.5;
    }
    .modal {
        top: 8vh;
        left: 0;
        right: 0;
        max-width: 85vw;
        padding: 1em 0.5em;
        max-height: 85vh;
    }
    .modal__close-btn {
        right: 1em;
        top: 0.75em;
    }
    .modal__close-btn .fa {
        font-size: 1.5rem;
    }
    .card-container {
        -webkit-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 15px;
        column-gap: 15px;
        -webkit-column-gap: 0px;
        column-gap: 0px;
        margin-top: 5px;
        padding-top: 0.25em;
    }
    .filters__list-item,
    .all-filter {
        font-size: 0.75rem;
        margin: 0.5em 0;
    }
    .reddit-card__post-title a {
        font-size: 1.25rem;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .reddit-card__post-title:hover {
        margin-left: 0;
    }
    .reddit-card {
        margin: 0.5em 0;
    }
    .reddit-card__thumbnail-wrapper {
        display: none;
    }
    .btn {
        font-size: 1.5rem;
    }
    .header .search-btn,
    .header .filter-btn {
        font-size: 0.75rem;
        margin: 0 0.5em;
        padding: 0.5em;
        min-width: 6em;
        width: auto;
    }
    .header .search-btn:hover,
    .header .filter-btn:hover {
        background: #fff;
        color: $nearBlack;
    }
    .header .search-btn:hover,
    .header .filter-btn:hover {
        background: transparent;
        color: $nearBlack;
    }
    .header.is-sticky .search-btn:hover,
    .header.is-sticky .filter-btn:hover {
        background: transparent;
        color: #fff;
    }
    .btn i,
    .btn:hover i {
        background: none;
    }
    .header.is-sticky {
        .btn {
            border: solid 1px $nearBlack;
        }
        .btn:hover i {
            color: #fff;
        }
    }
    .view-btn {
        display: none;
    }
    .card-container--rows .reddit-card {
        padding: 1em 0.75em;
    }
    .card-container--rows .reddit-card-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .card-container--rows .bar {
        display: block;
    }
    .card-container--rows .subreddit-wrapper {
        padding: 0;
    }
    .card-container--rows .reddit-card__post-title {
        width: 100%;
        border-left: 0;
        padding: 1.5em 0;
        font-size: 1.25rem;
        border: 0;
        a {
            font-size: 1.25rem;
        }
    }
    .card-container--rows .card-footer {
        width: 100%;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding: 0;
    }
}

@media (max-width: 425px) {
    .reddit-content {
        margin-top: 0;
    }
    .header__description {
        width: 100%;
        padding: 0;
    }
    .filters__list {
        font-size: 0.875rem;
    }
    input[type='checkbox']:checked+span::after {
        right: 0.5em;
    }
}

@media (max-width: 375px) {}