/* Back To Top Button */

.btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    align-items: center;
    color: $text_grey_dark;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
    cursor: pointer;
    font-family: inherit;
    position: relative;
    font-weight: 600;
    font-size: 0.75rem;
    padding: 0.75em;
    border: solid 1px $nearBlack;
    z-index: 200;
    line-height: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: transparent;
    margin: 0.5em 0.5em;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    span {
        margin-right: 0.25em;
    }
    i {
        margin-left: 0.25em;
        color: $nearBlack;
    }
}

.btn:active {
    outline: 0;
}

.btn:hover,
.btn:hover i,
.btn:hover .fa {
    color: #fff;
    background: none;
}

.mouse-user>.btn::focus,
.mouse-user>.btn:focus,
.mouse-user>.btn::focus {
    outline: 0 !important;
}

.back-to-top {
    font-family: $sansSerif;
    display: none;
    padding: 0.875em;
    color: #fff;
    cursor: pointer;
    position: fixed;
    border: solid 1px $text_grey_dark;
    font-size: 0.875rem;
    background: $text_grey_dark;
    margin: 1px;
    bottom: 2em;
    right: 2.5vw;
    text-align: center;
    padding: 0.7em 0.75em;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
}

.back-to-top:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    top: auto;
    z-index: -1;
    background: $background_grey;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.back-to-top:hover {
    color: $text_grey_dark;
}

.back-to-top:hover:after {
    top: 0;
    height: 100%;
}

.back-to-top:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}

.modal__close-btn {
    position: absolute;
    right: 2em;
    top: 2.25em;
    font-size: 1rem;
    background: none;
    border: 0;
    overflow: hidden;
    cursor: pointer;
    z-index: 20;
}

.modal__close-btn:hover {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.fa-times:before {
    content: '\00d7' !important;
}

.header .btn {
    min-width: 8em;
}

.sticky-header {
    .btn i {
        color: #fff;
    }
    .btn:hover i {
        color: $nearBlack;
    }
}