/* Back To Top Button */

#back-to-top {
	font-family: $sansSerif;
	margin-top: 20px;
	display: none;
	font-size: 1rem;
	position: absolute;
	right: 5px;
	bottom: -80px;
}

#back-to-top::after {
	font-family: FontAwesome;
	content: "\f176";
	margin-left: -0.5em;
	opacity: 0;
	transition: all 0.2s;
}

#back-to-top:hover::after {
	font-family: FontAwesome;
	content: "\f176";
	margin-left: 1em;
	color: #fff;
	opacity: 1;
	display: inline-block;
}