/* Message shown when no subreddits are selected */

.empty-message {
	position: absolute;
	display: none;
	width: auto;
	height: auto;
	margin: auto;
	top: calc(150px + 20%);
	left: calc(50% - 125px);
}

.empty-message__header {
	font-family: $serif;
	font-size: 1.25rem;
	margin-bottom: 1em;
}

.empty-message__body {
	color: #495456;
	display: block;
	font-size: 0.875rem;
	width: 250px;
}