.error-message {
    width: 50%;
    text-align: center;
    margin: 2rem auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
}

.error-message__header {
    font-family: $serif;
    font-size: 1.25rem;
    margin-bottom: 1em;
}

.error-message__body {
    color: #495456;
    display: block;
    font-size: 0.875rem;
    width: 250px;
    margin: auto;
    text-align: center;
}