/* Filter list */

.modal {
	font-family: $sansSerif;
	display: none;
	position: absolute;
	top: -70px;
	z-index: 300;
	width: 85%;
	max-width: 85%;
	height: 150px;
	margin: auto;
	background: #fff;
	padding: 0.75em 2em;
	transform: translateY(0px);
	border: 1px solid #d1d4d5;
	transition: all 0.2s ease-out;

}

.modal--opened {
	display: flex;
	justify-content: flex-start;
	transform: translateY(270px);
	transition: transform 0.3s ease-out;
	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 20px;
		right: 15px;
		background: #fff;
		width: 100%;
		height: 100%;
		z-index: -1;
	}	
}

.modal--opened-stuck {
	display: flex;
	justify-content: flex-start;
	transform: translateY(160px);
	transition: transform 0.3s ease-out;
}

.filters {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;	
	width: auto;
	margin: auto;
}

.filters__title {
	font-family: $serif;
	padding: 0.5em 0;
	margin-right: 2em;
	width: 100%;
}


.filter-overlay {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0.5;
	z-index: 250;
}



.filters__list {
	font-family: $sansSerif;
	padding: 0.5em 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex: 1 0 100%;
	position: relative;
	text-align: center;
	color: #fff;
	font-weight: 400;
	list-style-type: none;
}


.filters__list-item {
	font-size: 0.75rem;
	padding: 1em 2em;
	position: relative;
	margin: 1em;
		cursor: pointer;
	color: #fff;
	text-transform: uppercase;
	border: 0;
	font-weight: 700;
	letter-spacing: 0.08em;
	display: inline-block;
	z-index: 1;
	span {
		color: #fff;
	}
}

.filters__list-item::before {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	top: 10px;
	left: 10px;
	z-index: -1;
	transition: all 0.2s ease-out;
}

.filters__list-item:hover::before {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	top: -1px;
	left: 0px;
	border: solid 1px;
}

.subreddit--selected {
		border: solid 1px black;
		transition: all 0.15s;
}

.subreddit--selected::before {
		
	}

.subreddit--deselected {
	background: transparent !important;
	border: solid 1px rgb(141, 148, 149);
	color: rgb(141, 148, 149) !important;
	transition: all 0.1s;
}

.filters__list > .css-filter {
	color: $subreddit_colour_one;
	background: $subreddit_colour_one;
	border: solid 1px $subreddit_colour_one;
	&::before {
	color: $subreddit_colour_one;
	  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_one, $subreddit_colour_one 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_one, $subreddit_colour_one 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_one, $subreddit_colour_one 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_one, $subreddit_colour_one 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
	};
	&:hover {
		background: transparent;
	}
	&:hover span {
		background: #fff;
		color: $subreddit_colour_one;
	}			
}


.filters__list > .webdev-filter {
	color: $subreddit_colour_two;
	background: $subreddit_colour_two;
	border: solid 1px $subreddit_colour_two;
	&::before {
	color: $subreddit_colour_two;
	  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_two, $subreddit_colour_two 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_two, $subreddit_colour_two 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_two, $subreddit_colour_two 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_two, $subreddit_colour_two 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
	};
	&:hover {
		background: transparent;
	}
	&:hover span {
		background: #fff;
		color: $subreddit_colour_two;
	}				
}

.filters__list > .web_design-filter {
	color: $subreddit_colour_three;
	background: $subreddit_colour_three;
	border: solid 1px $subreddit_colour_three;
	&::before {
	color: $subreddit_colour_three;
	  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_three, $subreddit_colour_three 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_three, $subreddit_colour_three 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_three, $subreddit_colour_three 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_three, $subreddit_colour_three 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
	};	
	&:hover {
		background: transparent;
	}
	&:hover span {
		background: #fff;
		color: $subreddit_colour_three;
	}			
}

.filters__list > .jquery-filter {
	color: $subreddit_colour_four;
	background: $subreddit_colour_four;
	border: solid 1px $subreddit_colour_four;
	&::before {
	color: $subreddit_colour_four;
	  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_four, $subreddit_colour_four 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_four, $subreddit_colour_four 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_four, $subreddit_colour_four 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_four, $subreddit_colour_four 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
	};	
	&:hover {
		background: transparent;
	}
	&:hover span {
		background: #fff;
		color: $subreddit_colour_four;
	}				
}

.filters__list > .javascript-filter {
	color: $subreddit_colour_five;
	background: $subreddit_colour_five;
	border: solid 1px $subreddit_colour_five;
	&::before {
	color: $subreddit_colour_five;
	  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_five, $subreddit_colour_five 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_five, $subreddit_colour_five 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_five, $subreddit_colour_five 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_five, $subreddit_colour_five 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
	};
	&:hover {
		background: transparent;
	}
	&:hover span {
		background: #fff;
		color: $subreddit_colour_five;
	}					
}

.filters__list > .frontend-filter {
	color: $subreddit_colour_six;
	background: $subreddit_colour_six;
	border: solid 1px $subreddit_colour_six;
	&::before {
	color: $subreddit_colour_six;
	  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_six, $subreddit_colour_six 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_six, $subreddit_colour_six 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_six, $subreddit_colour_six 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_six, $subreddit_colour_six 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
	};		
	&:hover {
		background: transparent;
	}
	&:hover span {
		background: #fff;
		color: $subreddit_colour_six;
	}			
}

.filters__list > .webdevtutorials-filter {
	background: $subreddit_colour_seven;
	color: $subreddit_colour_seven;
	border: solid 1px $subreddit_colour_seven;
	&::before {
	color: $subreddit_colour_seven;
	  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_seven, $subreddit_colour_seven 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_seven, $subreddit_colour_seven 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_seven, $subreddit_colour_seven 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_seven, $subreddit_colour_seven 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
	};
	&:hover {
		background: transparent;
	}
	&:hover span {
		background: #fff;
		color: $subreddit_colour_seven;
	}		
}
