/* Filter list */

.modal {
	font-family: $sansSerif;
	display: none;
	position: fixed;
	top: 0px;
	z-index: 300;
	width: 85%;
	max-width: 85%;
	height: auto;
	margin: auto;
	background: #f9f9f9;
	padding: 0.75em 2em;
	transform: translateY(0px);
	border: 1px solid #d1d4d5;
	transition: all 0.1s ease-out;
}

.modal--opened {
	display: flex;
	justify-content: flex-start;
	transform: translateY(150px);
	transition: transform 0.3s ease-out;
}



.filters {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;	
	width: 70%;
	margin: auto;
}

.filters__title {
	font-family: $serif;
	padding: 0.5em 0;
	margin-right: 2em;
	width: 100%;
}


.filter-overlay {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: black;
	opacity: 0;
	mix-blend-mode: darken;
	z-index: 250;
}



.filters__list {
	font-family: $sansSerif;
	padding: 0.5em 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex: 1 0 100%;
	position: relative;
	text-align: center;
	color: #fff;
	font-weight: 400;
	list-style-type: none;
}


.filters__list-item {
	font-size: 0.75rem;
	padding: 1em 2em;
	margin: 0.5em;
		cursor: pointer;
	color: #fff;
	text-transform: uppercase;
	border: 0;
	font-weight: 400;
	letter-spacing: 0.05em;
	display: inline-block;
}

.subreddit--selected {
		background: #000;
		border: solid 1px #000;
		transition: all 0.15s;
}

.subreddit--selected:hover {
	background: rgb(141, 148, 149);
	border: solid 1px rgb(141, 148, 149);
	}

.subreddit--deselected {
	background: transparent !important;
	border: solid 1px rgb(141, 148, 149);
	color: rgb(141, 148, 149) !important;
	transition: all 0.1s;
}

.filters__list > .css {
	background: #fc3d39;
}

.filters__list > .webdev {
	background: #53d769;
}

.filters__list > .web_design {
	background: #147efb;
}

.filters__list > .jquery {
	background: #833ab4;
}

.filters__list > .javascript {
	background: #5fc9f8;
}

.filters__list > .frontend {
	background: #fd9426;
}

.filters__list > .webdevtutorials {
	background: #a086d3;
}
