/* Header */

.header__title {
	font-family: 'Tiempos Headline';
	font-size: 3.75rem;
	font-weight: 700;
	flex: 0 0 200px;
	background: #eee;
	z-index: 100;
	position: relative;
}

.header__description {
	font-family: $sansSerif;
	font-size: 1rem;
	text-align: left;
	width: 100%;
	background: #eee;
	position: relative;
	z-index: 15;
	color: #495456;
	font-weight: 400;
	padding-bottom: 0.5em;
	line-height: 1.5;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	z-index: 200;
	background: #eee;
	position: fixed;
	left: 0;
	margin-bottom: 2.5em;
	padding: 3.2em 7.5vw 1em 7.5vw;
	width: 100%;
	height: 15vh;
	transition: all ease 0.3s;

}

.header-sidebar--active {
	width: 65%;
	transition: all ease 0.3s;	
}

.header::after {
	content: '';
	display: block;
	height: 1px;
	background: #d1d4d5;
	width: 85%;
	position: absolute;
	bottom: 0.75em;
	left: 7.5vw;
}

.header__title-wrapper {
	background: #eee;
	z-index: 70;
}

.filters__top-bar {
	padding-top: 5rem;
	display: flex;
	justify-content: flex-end;
	padding-bottom: 0.5em;
	z-index: 10;
	position: relative;
	background: #eee;
}



.filters__title:hover{
	cursor: pointer;
}

