/* Header */

.header {
	z-index: 350;
	position: absolute;
	left: 0;
	top: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 140px;
	background: #fff;
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0.25em 0;	
	width: 85vw;
	height: auto;
	margin: 0 auto;
}

.header__title {
	font-family: 'Tiempos Headline Black';
	font-size: 3.75rem;
	font-weight: 700;
	flex: 0 0 200px;
	z-index: 100;
	color: $nearBlack;
	line-height: 1;
	text-align: center;
}

.header__title-wrapper {
	text-align: left;
}

.header__description {
	font-family: $sansSerif;
	font-size: 1rem;
	width: 100%;
	z-index: 15;
	color: #495456;
	font-weight: 400;
	line-height: 1.5;
	padding-bottom: 0.2em;
	transition: all 0.3s;
	text-align: center;
}



/* Sticky Header Styles */

.is-sticky {
	position: fixed;
	background: $nearBlack;
	top: -65px;
	height: 65px;
	justify-content: center !important;
	-webkit-animation: slideDown 0.3s ease-out forwards;
	animation: slideDown 0.3s ease-out forwards;	
}

.is-sticky .nav-container {
	border: 0;
	padding: 0.5em 0;
}

.is-sticky .header__title {
	padding: 0.25em 0 0 0 ;
	line-height: normal;
	font-size: 2.25rem;
	color: #fff;
}

.is-sticky .header__description {
	display: none;
	transition: all 0.3s;
}

.is-sticky .btn {
	border: solid 1px #fff;
	color: #fff;
	background: $nearBlack;
}

.header__btn-wrapper {
	display: flex;
}

.header__title-wrapper {
	z-index: 70;
	margin-right: 2.5em;
}


.scrolled-bar {
	height: 0.5em;
	position: relative;
	top: 0.5em;
	left: 0;
	z-index: 300;
	display: block;
	background: transparent; 
	width: 100vw;
}

.scrolled-bar__progress {
	display: block;
	height: 4px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 410;
	width: 0;
	background: $nearBlack;
}

.is-sticky .scrolled-bar__progress {
	background:$background_grey;
}

.is-sticky .scrolled-bar {
	background: transparent;
}

.search {
	width: 0;
	border: 0;
	height: 2em;
	font-size: 1.5rem;
	background: transparent;
	border-bottom: solid 1px $nearBlack;
	transition: all 0.3s;
}

.search--opened {
	width: 500px;
	transition: all 0.15s;
}

.search-wrapper {
	display: none;
}

.search-wrapper--opened {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 140px;
	z-index: 500;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	padding: 1em 7.5vw;
}

.search__close-btn {
	display: none;
	font-size: 1rem;
	background: transparent;
	border: 0;
	margin-left: 1em;
}

.search-icon {
	height: 1.1em;
	padding-left: 1em;
	width: auto;
	fill: $nearBlack;
}

.search-btn:hover .search-icon {
	fill: ;
}

.search-btn:hover .search-icon {
	fill: $nearBlack;
}

.is-sticky .search-icon {
	fill: #fff;
}

.is-sticky .search-btn:hover .search-icon {
	fill: $nearBlack;
}

::placeholder {
	color: $background_grey;
	font-size: 1rem;
	font-weight: 300;

}



