/* Content */
.reddit-content {
	column-count: 4;
	column-gap: 2.5em;
	margin-top: 210px;
	transition: all ease 0.3s;
	padding-bottom: 5em;	
}

.animate {
	-webkit-animation: moveUp 1s ease-out forwards;
	animation: moveUp 1s ease-out forwards;
}


/* Cards */
.reddit-card {
	margin: 1.5em 0;
	width: 100%;
	background: white;
	break-inside: avoid;
	overflow: hidden;
	position: relative;
	top: 0;
	overflow-wrap: break-word;
	padding: 0.75em;
	transform: translateY(200px);
	opacity: 0;
	
}

.reddit-card__subreddit {
	font-family: $sansSerif;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	padding: 0.25em 0.5em;
	display: block !important;
	border-radius: 0px;
	color: $text_grey_dark;
	font-weight: 600;
	h3 {
		font-size: 0.75rem;
		display: inline-block;
		background: #fff;
		line-height: 1.1;
		padding: 0.1em 0.2em;
		margin-top: 0.25em;
	}
}

.reddit-card__post-title {
	padding: 1.5em 0;
	width: 100%;
	transition: all 0.2s;

	a {
		font-family: 'Tiempos Headline', georgia, serif;
		font-size: 1.5rem;
		font-weight: 700;
		color: $text_grey_dark;
		text-decoration: none;
		line-height: 1.25;
		max-width: 100%;
		box-decoration-break: clone;		
	}

	&:hover {
		color: #000;
	}

}

.reddit-card__thumbnail-wrapper {
	position: relative;
	text-align: center;
	max-width: 100%;
	transition: all 0.2s;
	margin-top: 0.75em;
	filter: grayscale();
}

.reddit-card__thumbnail-wrapper:hover::before {
	opacity: 1;
} 
.reddit-card__thumbnail-wrapper:hover::after {
	opacity: 0.3;
	mix-blend-mode: multiply;
} 

.reddit-card__thumbnail-wrapper:hover {
	filter: grayscale(0);
}

.reddit-card__thumbnail {
	width: 100%;
	margin-bottom: -4px;
	transition: all 0.2s;
}

.card-footer {
	font-weight: 400;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	color: rgb(141, 148, 149);
	font-size: 0.75rem;
	letter-spacing: 0.02em;
	max-width: 100%;
	padding: 2em 0 1em 0;
	color: text_grey_dark;
	border-top: solid 1px $background_grey;
}

.bar {

	font-size: 0.875em;
}

.short-url {
	flex: 0 0 auto;
	text-align: center;
	padding: 0 0.75em;
}


.post-comments {
	font-family: $sansSerif;
	display: block;
	text-align: left;
	white-space: nowrap;
	padding: 0 0.75em;
	a {
		text-decoration: none;
		transition: all 0.2s;
		cursor: pointer;
	}

	a:hover {
			color: black !important;
			text-decoration: underline !important;
		}

}



.timestamp {
	display: block;
	font-family: $sansSerif;
	flex: 0 0 auto;
	text-align: left;
	padding: 0 0.75em;
}

.content-end-mark {
	display: none;
	position: relative;
	top: -1.5em;
	left: calc(50% - 30px);
	padding: 1em 0;
	width: 32px;
	text-align: center;
}



/*-------------------------------
* r/css
-------------------------------*/

.reddit-card-css {
	border-bottom: solid 2px $subreddit_colour_one;
}

.subreddit-css {
	color: $subreddit_colour_one;
	  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_one, $subreddit_colour_one 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_one, $subreddit_colour_one 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_one, $subreddit_colour_one 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_one, $subreddit_colour_one 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

.css-overlay {
	&::before {
		content: '';
		display: block;
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_one;
		mix-blend-mode: screen;
		transition: opacity 0.15s;
	}
	&::after {
		content: '';
		display: block;
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_one;
		transition: opacity 0.15s;
	}	
}


/*-------------------------------
* r/webdev
-------------------------------*/

.reddit-card-webdev {
	border-bottom: solid 2px $subreddit_colour_two;
}

.subreddit-webdev {
	color: $subreddit_colour_two;
	  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_two, $subreddit_colour_two 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_two, $subreddit_colour_two 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_two, $subreddit_colour_two 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_two, $subreddit_colour_two 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

.webdev-overlay {
	&::before {
		content: '';
		display: block;
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_two;
		mix-blend-mode: screen;
		transition: opacity 0.15s;
	}
	&::after {
		content: '';
		display: block;
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_two;
		transition: opacity 0.15s;
	}	
}


/*-------------------------------
* r/web_design
-------------------------------*/

.reddit-card-web_design {
	border-bottom: solid 2px $subreddit_colour_three;
}

.subreddit-web_design {
	color: $subreddit_colour_three;
	  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_three, $subreddit_colour_three 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_three, $subreddit_colour_three 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_three, $subreddit_colour_three 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_three, $subreddit_colour_three 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

.web_design-overlay {
	&::before {
		content: '';
		display: block;
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_three;
		mix-blend-mode: screen;
		transition: opacity 0.15s;
	}
	&::after {
		content: '';
		display: block;
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_three;
		transition: opacity 0.15s;
	}	
}


/*-------------------------------
* r/jquery
-------------------------------*/

.reddit-card-jquery {
	border-bottom: solid 2px $subreddit_colour_four;
}

.subreddit-jquery {
	color: $subreddit_colour_four;
	  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_four, $subreddit_colour_four 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_four, $subreddit_colour_four 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_four, $subreddit_colour_four 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_four, $subreddit_colour_four 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

.jquery-overlay {
	&::before {
		content: '';
		display: block;
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_four;
		mix-blend-mode: screen;
		transition: opacity 0.15s;
	}
	&::after {
		content: '';
		display: block;
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_four;
		transition: opacity 0.15s;
	}	
}



/*-------------------------------
* r/javascript
-------------------------------*/

.reddit-card-javascript {
	border-bottom: solid 2px $subreddit_colour_five;
}

.subreddit-javascript {
	color: $subreddit_colour_five;
	  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_five, $subreddit_colour_five 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_five, $subreddit_colour_five 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_five, $subreddit_colour_five 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_five, $subreddit_colour_five 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

.subreddit-overlay {
	&::before {
		content: '';
		display: block;
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_five;
		mix-blend-mode: screen;
		transition: opacity 0.15s;
	}
	&::after {
		content: '';
		display: block;
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_five;
		transition: opacity 0.15s;
	}	
}


/*-------------------------------
* r/frontend
-------------------------------*/

.reddit-card-frontend {
	border-bottom: solid 2px $subreddit_colour_six;
}

.subreddit-frontend {
	color: $subreddit_colour_six;
	  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_six, $subreddit_colour_six 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_six, $subreddit_colour_six 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_six, $subreddit_colour_six 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_six, $subreddit_colour_six 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

.frontend-overlay {
	&::before {
		content: '';
		display: block;
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_six;
		mix-blend-mode: screen;
		transition: opacity 0.15s;
	}
	&::after {
		content: '';
		display: block;
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_six;
		transition: opacity 0.15s;
	}	
}



/*-------------------------------
* r/webdevtutorials
-------------------------------*/

.reddit-card-webdevtutorials {
	border-bottom: solid 2px $subreddit_colour_seven;
}

.subreddit-webdevtutorials {
	color: $subreddit_colour_seven;
	  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_seven, $subreddit_colour_seven 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_seven, $subreddit_colour_seven 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_seven, $subreddit_colour_seven 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_seven, $subreddit_colour_seven 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}


.webdevtutorials-overlay {
	position: relative;
	text-align: center;
	max-width: 100%;
	transition: all 0.2s;
	filter: grayscale();
	&::before {
		content: '';
		display: block;
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_seven;
		mix-blend-mode: screen;
		transition: opacity 0.15s;
	}
	&::after {
		content: '';
		display: block;
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_seven;
		transition: opacity 0.15s;
	}	
}





