/* ---------------------------
 # Reddit Content Section
------------------------------ */

.reddit-content {
	column-count: 4;
	column-gap: 2.5em;
	position: relative;
	top: 160px;
	margin: auto;
	width: 85vw;
	transition: all ease 0.3s;
	padding-bottom: 12em;
}

.animate {
	-webkit-animation: moveUp 1s ease-out forwards;
	animation: moveUp 1s ease-out forwards;
}


/* ---------------------------
 # Cards
------------------------------ */
.reddit-card {
	margin: 0 0 1.25em 0;
	width: 100%;
	background: white;
	break-inside: avoid;
	overflow: hidden;
	position: relative;
	top: 0;
	overflow-wrap: break-word;
	padding: 1em 0.75em;
	transform: translateY(200px);
	opacity: 0;
	
}

.reddit-card-inner {
		position: relative;
		background: #fff !important;
}

.reddit-card::before {
	content: '';
	display: block;
	height: 0px;
	width: 100%;
	position: relative;
	top: -0.5em;
	background: $nearBlack;
}


.reddit-card__subreddit {
	font-family: $sansSerif;
	padding: 0.15em 0.5em;
	margin-left: 0em;
	display: inline-block;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 0.75rem;
	background: #fff;
}


.reddit-card__post-title {
	padding: 2em 0 2em 0;
	width: 100%;
	transition: all 0.15s;
	background: #fff;
	text-align: left;

	a {
		font-family: 'Tiempos Headline', georgia, serif;
		font-size: 1.25rem;
		font-weight: 700;
		color: $text_grey_dark;
		text-decoration: none;
		line-height: 1.25;
		max-width: 100%;
		box-decoration-break: clone;		
		transition: all 0.15s;
	}

	a:hover {
		color: #000 !important;
		text-decoration-style: wavy;
	}


}

.reddit-card__thumbnail-wrapper {
	position: relative;
	text-align: center;
	max-width: 100%;
	line-height: 0;
	transition: all 0.2s;
	filter: grayscale(0);
	overflow: hidden !important;
}


.reddit-card__thumbnail-wrapper:hover::after {
filter: screen;
}



.reddit-card__thumbnail-wrapper:hover {
	filter: grayscale();
}

.reddit-card__thumbnail {
	width: 100%;
	margin-bottom: -4px;
	transition: all 0.2s;
}

.card-footer {
	font-weight: 400;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	font-size: 0.75rem;
	letter-spacing: 0.02em;
	max-width: 100%;
	padding: 1.5em 0;
	color: $nearBlack;
	background: #fff;
	border-top: solid 1px $text_grey_mid_two;
}


.bar {

	font-size: 0.875em;
}

.short-url {
	flex: 0 0 auto;
	text-align: center;
	padding: 0 0.75em;
}


.post-comments {
	font-family: $sansSerif;
	display: block;
	text-align: left;
	white-space: nowrap;
	padding: 0 0.75em;
		transition: all 0.15s;	
	a {
		transition: all 0.15s;
		cursor: pointer;
	}

	a:hover {
			color: $nearBlack !important;
			padding-bottom: 0.25em;
			border-bottom: solid 1px;
			transition: all 0.15s;
		}

}

.timestamp {
	display: block;
	font-family: $sansSerif;
	flex: 0 0 auto;
	text-align: left;
	padding: 0 0.75em;
}

.content-end-mark {
	display: none;
	position: absolute;
	bottom: 4.5em;
	left: calc(50% - 30px);
	padding: 1em 0;
	width: 32px;
	text-align: center;
}



/*-------------------------------
* r/css
-------------------------------*/

.reddit-card-css {
	border-bottom: solid 0px $subreddit_colour_one;
	color: $subreddit_colour_one;
}

.reddit-card-css .reddit-card-inner {
		  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_one, $subreddit_colour_one 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_one, $subreddit_colour_one 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_one, $subreddit_colour_one 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_one, $subreddit_colour_one 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

.subreddit-css {
		color: $subreddit_colour_one;
		display: inline-block;
		text-align: center;
		position: relative;
		z-index: 500;
}

.dotted-bg-css {
	color: $subreddit_colour_one;

	  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_one, $subreddit_colour_one 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_one, $subreddit_colour_one 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_one, $subreddit_colour_one 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_one, $subreddit_colour_one 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

.css-overlay {
	&::before {
		content: '';
		display: block;
		opacity: 1;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_one;
		mix-blend-mode: screen;
		transition: opacity 0.15s;
	}
	&::after {
		content: '';
		display: block;
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_one;
		transition: opacity 0.15s;
	}	
}



/*-------------------------------
* r/webdev
-------------------------------*/

.reddit-card-webdev {
	border-bottom: solid 0px $subreddit_colour_two;
	color: $subreddit_colour_two;
}

.reddit-card-webdev .reddit-card-inner {
		  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_two, $subreddit_colour_two 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_two, $subreddit_colour_two 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_two, $subreddit_colour_two 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_two, $subreddit_colour_two 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

.subreddit-webdev {
		color: $subreddit_colour_two;
		display: inline-block;
		text-align: center;
		position: relative;
		z-index: 500;
}

.dotted-bg-webdev {
	color: $subreddit_colour_two;

	  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_two, $subreddit_colour_two 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_two, $subreddit_colour_two 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_two, $subreddit_colour_two 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_two, $subreddit_colour_two 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

.webdev-overlay {
	&::before {
		content: '';
		display: block;
		opacity: 1;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_two;
		mix-blend-mode: screen;
		transition: opacity 0.15s;
	}
	&::after {
		content: '';
		display: block;
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_two;
		transition: opacity 0.15s;
	}	
}


/*-------------------------------
* r/web_design
-------------------------------*/

.reddit-card-web_design {
	border-bottom: solid 0px $subreddit_colour_three;
	color: $subreddit_colour_three;
}

.reddit-card-web_design .reddit-card-inner {
		  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_three, $subreddit_colour_three 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_three, $subreddit_colour_three 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_three, $subreddit_colour_three 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_three, $subreddit_colour_three 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

.subreddit-web_design {
		color: $subreddit_colour_three;
		display: inline-block;
		margin: auto;
		text-align: center;
		position: relative;
		z-index: 500;
}

.dotted-bg-web_design {
	color: $subreddit_colour_three;

	  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_three, $subreddit_colour_three 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_three, $subreddit_colour_three 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_three, $subreddit_colour_three 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_three, $subreddit_colour_three 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

.web_design-overlay {
	&::before {
		content: '';
		display: block;
		opacity: 1;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_three;
		mix-blend-mode: screen;
		transition: opacity 0.15s;
	}
	&::after {
		content: '';
		display: block;
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_three;
		transition: opacity 0.15s;
	}	
}


/*-------------------------------
* r/jquery
-------------------------------*/

.reddit-card-jquery {
	border-bottom: solid 0px $subreddit_colour_four;
	color: $subreddit_colour_four;
}

.reddit-card-jquery .reddit-card-inner {
		  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_four, $subreddit_colour_four 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_four, $subreddit_colour_four 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_four, $subreddit_colour_four 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_four, $subreddit_colour_four 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

.subreddit-jquery {
		color: $subreddit_colour_four;
		display: inline-block;
		margin: auto;
		text-align: center;
		position: relative;
		z-index: 500;
}

.dotted-bg-jquery {
	color: $subreddit_colour_four;

	  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_four, $subreddit_colour_four 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_four, $subreddit_colour_four 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_four, $subreddit_colour_four 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_four, $subreddit_colour_four 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

.jquery-overlay {
	&::before {
		content: '';
		display: block;
		opacity: 1;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_four;
		mix-blend-mode: screen;
		transition: opacity 0.15s;
	}
	&::after {
		content: '';
		display: block;
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_four;
		transition: opacity 0.15s;
	}	
}



/*-------------------------------
* r/javascript
-------------------------------*/

.reddit-card-javascript {
	border-bottom: solid 0px $subreddit_colour_five;
	color: $subreddit_colour_five;
}

.reddit-card-javascript .reddit-card-inner {
		  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_five, $subreddit_colour_five 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_five, $subreddit_colour_five 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_five, $subreddit_colour_five 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_five, $subreddit_colour_five 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

.subreddit-javascript {
			color: $subreddit_colour_five;
		display: inline-block;
		text-align: center;
		position: relative;
		z-index: 500;
}

.dotted-bg-javascript {
	color: $subreddit_colour_five;

	  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_five, $subreddit_colour_five 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_five, $subreddit_colour_five 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_five, $subreddit_colour_five 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_five, $subreddit_colour_five 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

.javascript-overlay {
	&::before {
		content: '';
		display: block;
		opacity: 1;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_five;
		mix-blend-mode: screen;
		transition: opacity 0.15s;
	}
	&::after {
		content: '';
		display: block;
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_five;
		transition: opacity 0.15s;
	}	
}


/*-------------------------------
* r/frontend
-------------------------------*/

.reddit-card-frontend {
	border-bottom: solid 0px $subreddit_colour_six;
	color: $subreddit_colour_six;
}

.reddit-card-frontend .reddit-card-inner {
		  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_six, $subreddit_colour_six 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_six, $subreddit_colour_six 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_six, $subreddit_colour_six 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_six, $subreddit_colour_six 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

.subreddit-frontend {
			background: ;
		color: $subreddit_colour_six;
		display: inline-block;
		text-align: center;
		position: relative;
		z-index: 500;
}

.dotted-bg-frontend {
	color: $subreddit_colour_six;

	  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_six, $subreddit_colour_six 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_six, $subreddit_colour_six 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_six, $subreddit_colour_six 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_six, $subreddit_colour_six 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

.frontend-overlay {
	&::before {
		content: '';
		display: block;
		opacity: 1;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_six;
		mix-blend-mode: screen;
		transition: opacity 0.15s;
	}
	&::after {
		content: '';
		display: block;
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_six;
		transition: opacity 0.15s;
	}	
}



/*-------------------------------
* r/webdevtutorials
-------------------------------*/

.reddit-card-webdevtutorials {
	border-bottom: solid 0px $subreddit_colour_seven;
	color: $subreddit_colour_seven;
}

.reddit-card-webdevtutorials .reddit-card-inner {
		  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_seven, $subreddit_colour_seven 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_seven, $subreddit_colour_seven 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_seven, $subreddit_colour_seven 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_seven, $subreddit_colour_seven 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

.subreddit-webdevtutorials {
		color: $subreddit_colour_seven;
		position: relative;
		z-index: 500;
}

.dotted-bg-webdevtutorials {
	color: $subreddit_colour_seven;

	  background-image: -webkit-repeating-radial-gradient(center center, $subreddit_colour_seven, $subreddit_colour_seven 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, $subreddit_colour_seven, $subreddit_colour_seven 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, $subreddit_colour_seven, $subreddit_colour_seven 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, $subreddit_colour_seven, $subreddit_colour_seven 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

.webdevtutorials-overlay {
	&::before {
		content: '';
		display: block;
		opacity: 1;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_seven;
		mix-blend-mode: screen;
		transition: opacity 0.15s;
	}
	&::after {
		content: '';
		display: block;
		opacity: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $subreddit_colour_seven;
		transition: opacity 0.15s;
	}	
}




