/* Content */

.reddit-content {
	max-width: 85vw;
	margin: 40px ;
	margin-left: calc(15vw + 10px);
	column-count: 4;
	column-gap: 40px;
	flex: 0 1  1600px;
}

/* Cards */

.reddit-card {
	margin: 30px 0;
	width: 100%;
	background: white;
	break-inside: avoid;
	overflow: hidden;
	position: relative;
	overflow-wrap: break-word;
	padding: 0.5em;
}

.reddit-card__subreddit {
	font-family: $sansSerif;
	text-transform: uppercase;
	font-size: 0.875rem;
	padding: 0.25em 0.5em;
	display: inline-block !important;
	border-radius: 3px;
	color: #fff;
	font-weight: 400;
}

.reddit-card__post-title {
	padding: 0.7em;
	width: 100%;
	transition: all 0.2s;
	a {
	font-family: 'Tiempos Headline', georgia, serif;
	font-size: 1.5rem;
	font-weight: 700;
	color: black;
	text-decoration: none;
	line-height: 1.25;
	max-width: 100%;
}
	&:hover {
	margin-left: 0.5em;
	box-decoration-break: clone;
	}
}

.reddit-card__thumbnail-wrapper {
	position: relative;
	margin: auto;
	text-align: center;
	max-width: 100%;
transition: all 0.2s;
filter: grayscale();
}

.reddit-card__thumbnail-wrapper:hover {
		filter: grayscale(0);
	}

.reddit-card__thumbnail {
	width: 100%;
	margin-bottom: -4px;
	transition: all 0.2s;	
}

.card-footer {
	display: flex;
	justify-content: space-between;
	color: gray;
	font-size: 0.75rem;
	text-transform: uppercase;
	max-width: 100%;
}

.post-comments {
	font-family: $sansSerif;
	font-weight: 600;
	padding: 1em;
	a{
	color: #495456;
	text-decoration: none;
	transition: color 0.2s;
	&:hover {
		color: black;
	}
}
}

.timestamp {
		font-family: $sansSerif;
	font-weight: 600;
	padding: 1em;
	}

.reddit-card__subreddit.css {
	background:  #ff0033;
}

.reddit-card__subreddit.webdev {
	background: #f26649;
}

.reddit-card__subreddit.web_design {
	background: #0099cc;
}

.reddit-card__subreddit.jquery {
	background: #ff6600;
}

.reddit-card__subreddit.javascript {
	background: #00cc00;
}

.reddit-card__subreddit.Frontend {
	background: #ffcc00;
}

.reddit-card__subreddit.WebdevTutorials {
	background: #660099;
}