/* Sidebar */

.sidebar {
	position: absolute;
	right: -20vw;
	height: 80vh;
	width: 20vw;
	padding: 0.75em 0 0.75em 0.75em;
	flex: 1 0 200px;
	z-index: 50;
	background: #fff;
	transition: all ease 0.3s;
}

.sidebar--opened {
	transform: translateX(-20vw);
	transition: all ease 0.3s;

}

.sidebar--active {
	left: 0;
	width: 80vw !important;
	transition: all ease 0.3s;
}